
.test {
    background: linear-gradient(90deg, #00397F, #630C71);
    color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.gradientBackground {
    padding: 10px 20px 10px 20px;
    border-radius: 10px;
    background: linear-gradient(90deg, #E072F0, #7AA5FC);
}