.root {
    &[data-variant='danger'] {
        background-color: var(--mantine-color-red-9);
        color: var(--mantine-color-red-0);
    }

    &[data-variant='big'] {
        font-size: 1.2rem;
        font-weight: bold;
        background-color: transparent;
    }

}